header{
  background-color: blue;
  color:pink;
  font-size: 33px;
  text-align: center;
}
img{
  width:30%;

}
.card{
  background:silver;
  width:30%;
  border-radius:2px 2px 2px;
  box-shadow: 2px 2px 2px black;
   text-align: center;
   padding:1px;
   margin:1px;
}
  .mainDiv
{
    display: flex;
   justify-content:  space-between;
  }
  .main{
    display: flex;
  }
.leftDiv {
  width:  30%;
  background: #ddd;
  border:  6px solid pink;
  box-shadow:3px;
}
.rightDiv {
  margin: 1%;
  padding: 1%;
  background-color: yellow;
  border:  1px solid #000fff;
  box-shadow:  3px 3px 3px #0000;
}
/*  mobile view */
@media screen and (min-width:330px) and (max-width:480px){
  #mainDiv , .main {
  display:flex;
  flex-wrap:wrap;
}
#card , .leftDiv, .rightDiv {
  width: 92%;

  }
}
}
@media screen and (min-width:481px) and (max-width:820px){
  #mainDiv {
  display:flex;
  flex-wrap:wrap;
}
#card {
  width: 48%;
  margin-left: auto;
  margin-right: auto;
}
}
